<p id="notice"><%= notice %></p>

<div class="container">
  <%= image_tag @user.prof_pic, class: 'img-responsive', height: '300px' %>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= @user.occupation %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= @user.dob %>
  </p>
  <%if user_signed_in? %>
  <% if  current_user.id ==
    user.id  %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <% end %>
  <% end %>


  <p>
  <strong>Comments:</strong>
  <% @user.comments.each do |comment|%>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to tech_url(comment.tech_id) do %>
        <h5><%= comment.tech.technology %></h5>
      <% end %>
      <p><%= comment.body %></p>
      <br>
        <%if user_signed_in? %>
        <% if  current_user.id ==
          comment.user.id  %>
      <small><%= link_to 'Edit Comment', edit_tech_comment_path(comment.tech_id, comment)%></small>
      <small><%= link_to 'Delete Comment', tech_comment_path(comment.tech_id, comment), method: :delete, data: { confirm: 'Are you sure?' } %></small>
      <% end %>
      <% end %>
    </li>
  </ul>
  <% end %>
</p>


</div>
